<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--class name="Edit.EducacionITSabado.Laboratorio2"/>
      <class name="Edit.EducacionITSabado.Laboratorio1"/>
      <class name="Edit.EducacionITSabado.AppTest"/>
      <class name="Edit.EducacionITSabado.Laboratorio3"/-->
      <class name="pruebas.Laboratorio4_E1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
